Composer {
  backgroundColors: #f0f0f0, #d6d6d6;
  borderSkin: ClassReference('fbair.gui.skins.FBAIRSkin');
  bottomBorderColor: #aaaaaa;
  horizontalGap: 6;
  insetRightBorder: -1;
  paddingBottom: 6;
  paddingLeft: 6;
  paddingRight: 6;
  paddingTop: 5;
  verticalAlign: bottom;
}
.droppedPhotoList {
  paddingTop: 5;
  paddingLeft: 5;
  paddingBottom: 5;
  paddingRight: 5;
  rollOverColor: #FFFFFF;
  selectionColor: #FFFFFF;
}
.albumFieldLabel {
  color: #333;
  font-size: 11;
}
.albumFieldText {
  color: #000;
  font-size: 11;
  borderSkin: Embed(source='../assets/composer_textarea.png',scaleGridTop='2',scaleGridLeft='2',scaleGridBottom='4',scaleGridRight='4');
  focusAlpha: 0;
  focusSkin: ClassReference('mx.skins.ProgrammaticSkin');
}