.actionButtons {
  paddingLeft: -6;
  horizontalGap: -2;
}

.actionButtonUp, .actionButtonOver, .actionButtonDown, .actionButtonDisabled {
  borderSkin: Embed(source='../assets/action_button.png',scaleGridTop='3',scaleGridLeft='4',scaleGridBottom='5',scaleGridRight='6');
  paddingBottom: 2;
  paddingLeft: 6;
  paddingRight: 4;
  paddingTop: 2;
  horizontalGap: 2;
}

.actionButtonDown {
  borderSkin: Embed(source='../assets/action_button_down.png',scaleGridTop='3',scaleGridLeft='4',scaleGridBottom='5',scaleGridRight='6');
}

.actionButtonUp, .actionButtonDisabled {
  borderSkin: ClassReference(null);
}

.actionButtonLabel {
  color: #3b5998;
  font-weight: normal;
}

.actorTitle {
  paddingRight: 2;
  paddingTop: -2;
}

.allComments {
  borderSkin: ClassReference('fbair.gui.skins.FBAIRSkin');
  bottomBorderColor: #ffffff;
  horizontalGap: 2;
}

.commentsBox {
  paddingTop: 3;
}

.commentDeleteButton, .storyDeleteButton {
  disabledSkin: Embed(source='../assets/delete_over.png');
  downSkin: Embed(source='../assets/delete_over.png');
  overSkin: Embed(source='../assets/delete_over.png');
}

.commentDeleteButton, .storyDeleteButton {
  upSkin: Embed(source='../assets/delete.png');
}

.commentHeader {
  verticalAlign: bottom;
}

.commentInputBox {
  verticalGap: 3;
}

.commentRenderer {
  horizontalGap: 5;
  paddingBottom: 4;
}

.commentText {
  paddingTop: -2;
}

.commentTimeStamp {
  color: #aaaaaa;
}

.commentVBox {
  paddingTop: -3;
  verticalGap: 0;
}

.itemDescription, .itemSource {
  color: #808080;
}

.itemDescription, .itemSource, .itemLink, .itemProperty {
  paddingLeft: -2;
}

.itemLink {
  font-weight: bold;
  paddingBottom: 2;
}

.itemPropertyName {
  color: #AAAAAA;
}

.itemPropertyText {
  color: #808080;
}

.likesRenderer {
  horizontalGap: 2;
  paddingBottom: 2;
}

.likeText {
  color: #aaaaaa;
  left: -2;
  top: 2;
}

.mediaImage {
  bottom: 1;
  top: 1;
}

.mediaItems {
  horizontalGap: 6;
  verticalAlign: top;
}

.multiItemDetail {
  paddingBottom: -4;
  verticalGap: -2;
}

.nileRenderer {
  horizontalGap: 6;
  paddingBottom: 6;
  paddingLeft: 6;
  paddingRight: 6;
  paddingTop: 6;
}

.nileStoryHeader {
  paddingLeft: -2;
  paddingTop: -2;
  verticalGap: -4;
}

.nileStoryTarget {
  paddingLeft: -2;
}

.noItemDetail {
  borderSkin: ClassReference('fbair.gui.skins.FBAIRSkin');
  leftBorderColor: #dddddd;
  leftBorderThickness: 2;
  insetTopBorder: 2;
  paddingBottom: -4;
  paddingTop: -2;
  paddingLeft: 6;
  verticalGap: -2;
}

.photoFrame {
  disabledSkin: Embed(source='../assets/photo_frame_over.png',scaleGridTop='4',scaleGridLeft='4',scaleGridBottom='6',scaleGridRight='6');
  downSkin: Embed(source='../assets/photo_frame_over.png',scaleGridTop='4',scaleGridLeft='4',scaleGridBottom='6',scaleGridRight='6');
  overSkin: Embed(source='../assets/photo_frame_over.png',scaleGridTop='4',scaleGridLeft='4',scaleGridBottom='6',scaleGridRight='6');
  upSkin: Embed(source='../assets/photo_frame.png',scaleGridTop='4',scaleGridLeft='4',scaleGridBottom='6',scaleGridRight='6');
}

.storyContent {
  verticalGap: 3;
}

.targetArrow {
  color: #aaaaaa;
  paddingTop: 2;
}

.timePhrase {
  color: #808080;
}

.ufiPreview {
  paddingBottom: -2;
  paddingTop: -6;
  verticalGap: -6;
}

.ufiRenderers {
  paddingTop: 2;
}

.videoBadge {
  bottom: 0;
  left: 0;
}

.statusMessage {
  paddingLeft: -2;
  paddingTop: -4;
}

AttachmentRenderer {
  horizontalGap: 6;
  paddingBottom: 6;
}

CommentBox {
  horizontalGap: 5;
}

LikesRenderer {
  borderSkin: ClassReference('fbair.gui.skins.FBAIRSkin');
  bottomBorderColor: #ffffff;
}

LinkLabel, LinkText {
  color: #3b5998;
}

NileRenderer {
  backgroundAngle: 180;
  backgroundColor: #fff;
  backgroundColors: #fafafa, #ffffff;
  backgroundPositions: 0, 15;
  borderSkin: ClassReference('fbair.gui.skins.FBAIRSkin');
  insetRightBorder: -1;
  insetTopBorder: -1;
  topBorderColor: #ddd;
  topBorderColor: #dddddd;
}
