.actorTitle, ApplicationBase, FBButton, GrowableTextArea {
  font-size: 11;
}

.targetArrow, .actionButtonLabel, .commentTimeStamp, .itemSource, .timePhrase {
  font-size: 9;
}

.commentButtonDisabled, .commentButtonDown, .fbButtonDisabled, .fbButtonDown {
  paddingBottom: 2;
  paddingLeft: 5;
  paddingRight: 5;
  paddingTop: 4;
}

.commentButtonOver, .commentButtonUp, .fbButtonOver, .fbButtonUp {
  paddingBottom: 3;
  paddingLeft: 5;
  paddingRight: 5;
  paddingTop: 3;
}
